﻿<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
	<meta charset="utf-8" />
	<title>Weather City Project</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta content="Esse projeto tem o objetivo de aprender e exercitar conceitos." name="description" />
	<meta content="César Albuquerque" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN THEME GLOBAL STYLES -->
	<link href="~/Content/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
	<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
	<!-- END THEME GLOBAL STYLES -->
	<!-- BEGIN THEME LAYOUT STYLES -->
	<link href="~/Content/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
	<link href="~/Content/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
	<!-- END THEME LAYOUT STYLES -->
	<!-- BEGIN LOADER SCRIPT -->
	<script src="~/dist/site.bundle.js"></script>
	<!-- END LOADER SCRIPT -->
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width">
	<div class="page-wrapper">
		<!-- BEGIN HEADER -->
		<div class="page-header navbar navbar-fixed-top">
			<!-- BEGIN HEADER INNER -->
			<div class="page-header-inner ">
				<!-- BEGIN MEGA MENU -->
				<!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
				<!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
				<div class="hor-menu   hidden-sm hidden-xs">
					<ul class="nav navbar-nav">
						<!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
						<li is-active-route asp-controller="Home" asp-action="About" class="classic-menu-dropdown" aria-haspopup="true">
							<a asp-area="" asp-controller="Home" asp-action="About">
								Sobre o projeto
								<span class=""> </span>
							</a>
						</li>
						<li is-active-route asp-controller="Home" asp-action="Contact" class="classic-menu-dropdown" aria-haspopup="true">
							<a asp-area="" asp-controller="Home" asp-action="Contact">
								Contato
								<span class=""> </span>
							</a>
						</li>
						<li is-active-route asp-controller="Municipios" asp-action="Index" class="classic-menu-dropdown" aria-haspopup="true">
							<a asp-area="" asp-controller="Municipios" asp-action="Index">
								Municípios
								<span class=""> </span>
							</a>
						</li>
					</ul>
				</div>
				<!-- END MEGA MENU -->
				<!-- BEGIN HEADER SEARCH BOX -->
				<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
				<form id="quick-search" class="search-form">
					<div class="input-group">
						<input id="quick-search-city" type="text" class="form-control" placeholder="Pesquisa rápida...">
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="icon-magnifier"></i>
							</a>
						</span>
					</div>
				</form>
				<!-- END HEADER SEARCH BOX -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
					<span></span>
				</a>
				<!-- END RESPONSIVE MENU TOGGLER -->
			</div>
			<!-- END HEADER INNER -->
		</div>
		<!-- END HEADER -->
		<!-- BEGIN HEADER & CONTENT DIVIDER -->
		<div class="clearfix"> </div>
		<!-- END HEADER & CONTENT DIVIDER -->
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar-wrapper">
				<div class="page-sidebar navbar-collapse collapse">
					<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
						<li is-active-route asp-controller="Home" asp-action="About" class="classic-menu-dropdown" aria-haspopup="true">
							<a asp-area="" asp-controller="Home" asp-action="About">
								Sobre o projeto
								<span class=""> </span>
							</a>
						</li>
						<li is-active-route asp-controller="Home" asp-action="Contact" class="classic-menu-dropdown" aria-haspopup="true">
							<a asp-area="" asp-controller="Home" asp-action="Contact">
								Contato
								<span class=""> </span>
							</a>
						</li>
						<li is-active-route asp-controller="Municipios" asp-action="Index" class="classic-menu-dropdown" aria-haspopup="true">
							<a asp-area="" asp-controller="Municipios" asp-action="Index">
								Municípios
								<span class=""> </span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- END SIDEBAR -->
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<!-- BEGIN CONTENT BODY -->
				<div class="page-content" style="min-height: 657px;">
					@RenderBody()
				</div>
				<!-- BEGIN QUICK SEARCH MODAL-->
				<div id="quick-seach-modal" class="modal fade" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Tempo Agora</h4>
							</div>
							<div class="modal-body">
								<div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
									<div class="row">
										<div id="quick-weather">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quick-weather-tile">

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END QUICK SEARCH MODAL-->
				<!-- END CONTENT BODY -->
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END CONTAINER -->
		<!-- BEGIN FOOTER -->
		<div class="page-footer">
			<div class="page-footer-inner">
				@DateTime.Now.Year &copy; César Albuquerque &nbsp;|&nbsp;
				<a target="_blank" href="https://gitlab.com/cesaralbuquerque"><i class="fa fa-git"></i></a> &nbsp;|&nbsp;
				<a target="_blank" href="https://www.linkedin.com/in/cesaralbuquerque/"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- END FOOTER -->
	</div>
	<!--[if lt IE 9]>
	<script src="~/Content/assets/global/plugins/respond.min.js"></script>
	<script src="~/Content/assets/global/plugins/excanvas.min.js"></script>
	<script src="~/Content/assets/global/plugins/ie8.fix.min.js"></script>
	<![endif]-->
	<!-- BEGIN CORE PLUGINS -->
	<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN THEME GLOBAL SCRIPTS -->
	<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
	<!-- END THEME GLOBAL SCRIPTS -->
	<!-- BEGIN THEME LAYOUT SCRIPTS -->
	<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
	<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

	<script>
		QuickSearchInit();
		WeatherTableInit();
	</script>


	<!-- END THEME LAYOUT SCRIPTS -->
	@RenderSection("Scripts", required: false)
</body>

</html>