﻿@model WeatherCity.Models.Municipio

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-settings font-dark"></i>
			<span class="caption-subject font-dark sbold uppercase">Novo município</span>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-body">
				<div class="form-group">
					<label asp-for="Nome" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<input asp-for="Nome" class="form-control" placeholder="Exemplo: Blumenau" />
						<span asp-validation-for="Nome" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" value="Create" class="btn blue">Salvar</button>
				<a class="btn default" asp-action="Index">Cancelar</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
