﻿@model WeatherCity.Models.Municipio

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-settings font-dark"></i>
			<span class="caption-subject font-dark sbold uppercase">Excluir município</span>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" asp-action="Delete">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-body">
				<div class="form-group">
					<label asp-for="Nome" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<p class="form-control-static"> @Html.Raw(Model.Nome) </p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="DataCriacao" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<p class="form-control-static"> @Html.Raw(Model.DataCriacao) </p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="DataAlteracao" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<p class="form-control-static"> @Html.Raw(Model.DataAlteracao) </p>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<input type="hidden" asp-for="Id" />
				<input type="submit" value="Excluir" class="btn red" />
				<a class="btn default" asp-action="Index">Cancelar</a>
			</div>
		</form>
	</div>
</div>
