﻿@model WeatherCity.Models.Municipio

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-settings font-dark"></i>
			<span class="caption-subject font-dark sbold uppercase">Tempo agora</span>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-body">
				<div class="form-group">
					<label asp-for="Nome" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<p class="form-control-static"> @Html.Raw(Model.Nome) </p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="DataCriacao" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<p class="form-control-static"> @Html.Raw(Model.DataCriacao) </p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="DataAlteracao" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<p class="form-control-static"> @Html.Raw(Model.DataAlteracao) </p>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<input type="hidden" asp-for="Id" />
				<a class="btn green" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
				<a class="btn default" asp-action="Index">Cancelar</a>
			</div>
		</form>
	</div>
</div>

<div id="weather">
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<weather city="@Html.Raw(Model.Nome)"></weather>
		</div>
	</div>
</div>

<div id="miniweather">
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<mini-weather city="@Html.Raw(Model.Nome)"></mini-weather>
		</div>
	</div>
</div>
<script>
new Vue({
	el: '#weather'
	});
</script>
