﻿@model WeatherCity.Models.Municipio

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-settings font-dark"></i>
			<span class="caption-subject font-dark sbold uppercase">Editar município</span>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-body">
				<div class="form-group">
					<label asp-for="Nome" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<input asp-for="Nome" class="form-control" placeholder="Exemplo: Blumenau" />
						<span asp-validation-for="Nome" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="DataCriacao" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<input type="hidden" asp-for="DataCriacao" />
						<input asp-for="DataCriacao" class="form-control" disabled/>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="DataAlteracao" class="control-label col-md-3"></label>
					<div class="col-md-9">
						<input type="hidden" asp-for="DataAlteracao" />
						<input asp-for="DataAlteracao" class="form-control" disabled/>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<input type="hidden" asp-for="Id" />
				<button type="submit" value="Save" class="btn blue">Salvar</button>
				<a class="btn default" asp-action="Index">Cancelar</a>
			</div>
		</form>
	</div>
</div>



@*<h4>Municipio</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DataCriacao" class="control-label"></label>
				<input asp-for="DataCriacao" class="form-control" />
				<span asp-validation-for="DataCriacao" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DataAlteracao" class="control-label"></label>
				<input asp-for="DataAlteracao" class="form-control" />
				<span asp-validation-for="DataAlteracao" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>*@


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
