﻿@model IEnumerable<WeatherCity.Models.Municipio>

<div class="row">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption font-dark">
				<i class="icon-settings font-dark"></i>
				<span class="caption-subject bold uppercase">Municípios</span>
			</div>
		</div>
		<div class="portlet-body">
			<table class="table table-striped table-bordered table-hover table-header-fixed nowrap" id="weather-table">
				<thead>
					<tr class="">
						<th>
							@Html.DisplayNameFor(model => model.Nome)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DataCriacao)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DataAlteracao)
						</th>
						<th class="min-width-hundred">Temperatura</th>
						<th class="min-width-three-hundred">Ações</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr role="row">
							<td>
								<div class="text-left">
									<label>@Html.Raw(item.Nome)</label>
								</div>
							</td>
							<td>
								<div class="text-right">
									<label>@Html.Raw(item.DataCriacao)</label>
								</div>
							</td>
							<td>
								<div class="text-right">
									<label>@Html.Raw(item.DataAlteracao)</label>
								</div>
							</td>
							<td>
								<div class="text-center temperatura-col">
									<mini-weather city="@Html.Raw(item.Nome)"></mini-weather>
								</div>
							</td>
							<td>
								<div class="text-center">
									<a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id" title="Ver o tempo no município"><i class="fa fa-sun-o"></i>Tempo agora</a>
									<a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id" title="Editar registro"><i class="fa fa-edit"></i>Editar</a>
									<a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Remover registro"><i class="fa fa-remove"></i>Excluir</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="form-actions">
			<a class="btn blue" asp-action="Create">Cadastrar município</a>
		</div>
	</div>

	<script>
		new Vue({
			el: '#weather-table'
		});
	</script>
	<style>
		.dataTables_filter {
			float: left !important;
		}
			.dataTables_filter input {
				width: 100% !important;
			}
		.table td {
			vertical-align: middle;
		}
		table.dataTable tbody td {
			vertical-align: baseline;
		}
		td > div.temperatura-col{
			height: 60px;
		}
		th.min-width-hundred {
			min-width: 100px
		}
		th.min-width-three-hundred {
			min-width: 300px
		}

	</style>