﻿<div class="row">
	<div class="col-md-12">
		<div class="note note-info">
			<h4 class="block">Objetivo do projeto:</h4>
			<p>Desenvolver uma aplicação WEB que permite cadastrar cidade e exibir a previsão do tempo com o intuíto de aprender mais sobre .NetCore MVC.</p>
			<p>Para isso foi criado uma interna API que consume a API do http://openweathermap.org, evitando assim CORS (Cross-Origin Resource Sharing). </p>
			<p>Foi criado um projeto para testar essa API dentro da Web Application.</p>
			<p>Toda elemento que apresenta a previsão do tempo é componente Vue.js. </p>
			<br />
			<h4 class="block">Stack do projeto:</h4>
			<p>.Net Core 2.1</p>
			<p>MVC Web Application</p>
			<p>Flurl</p>
			<p>Vue.Js</p>
			<p>Vue Resources</p>
			<p>JQuery</p>
			<p>Metronic</p>
			<p>Datatables</p>
			<p>Xunit</p>
			<p>Newtonsoft</p>
		</div>
	</div>
</div>