﻿@{
    ViewData["Title"] = "Contato";
}
<div class="row">
	<div class="col-md-12">
		<div class="note note-info">
			<h4 class="block">César Albuquerque:</h4>
			<p>
				Entusiasta de novas tecnologias e apaixonado por front-end, tenho objetivo de colaborar em um ambiente de trabalho onde possa colocar em prática meus conhecimentos em favor da instituição,
				focando sempre no benefício e crescimento da organização assim como no trabalho em equipe para o crescimento profissional.
			</p>
			<strong>E-mail:</strong> <a href="mailto:cesartdealbuquerque@gmail.com">cesartdealbuquerque@gmail.com</a><br />
			<strong>LinkdIn:</strong> <a href="https://www.linkedin.com/in/cesaralbuquerque/" target="_blank">linkedin.com/in/cesaralbuquerque</a><br />
			<strong>GitLab:</strong> <a href="https://gitlab.com/cesaralbuquerque" target="_blank">gitlab.com/cesaralbuquerque</a>
		</div>
	</div>
</div>