<template>
	<div :id="city">
		<strong class="font-green-sharp">{{temperatura}}°</strong> 
		<img :src="icone" style="width: 60px;" />
	</div>
</template>

<script>
	module.exports = {
		props: ['city'],
		data: function () {
			return {
				temperatura: 0,
				icone: ''
			}
		},
		methods: {
			callApi() {
				let api = `/api/OpenWeatherMap/${this.city}`;
				this.$http.get(api).then(response => {
					this.temperatura = response.body.main.temp;
					let iconeCode = response.body.weather[0].icon;
					this.icone = `http://openweathermap.org/img/wn/${iconeCode}@2x.png`;
					this.municipio = response.body.name;

					$(`#${this.city} .progress-bar`).width(`${this.umidade}%`);

				}, response => {
					this.temperatura = '-';
					this.icone = '';
				});
			}
		},
		created() {
			this.callApi();
		}
	}
</script>

<style scoped>
</style>