<template>
	<div class="dashboard-stat2 bg-blue-chambray bg-font-blue-chambray" :id="city">
		<div class="display">
			<div class="number">
				<h3 class="font-green-sharp">
					<span>{{municipio}}</span>
					<small class="font-green-sharp">{{temperatura}}°</small>
				</h3>
				<small>Min {{temperaturaMinima}}°</small>
				<small>Max {{temperaturaMaxima}}°</small>
			</div>
			<div class="icon">
				<img :src="icone" style="width: 60px;" />
			</div>
		</div>
		<div class="progress-info">
			<div class="progress">
				<span class="progress-bar progress-bar-success green-sharp">
					<span class="sr-only">{{umidade}}% progress</span>
				</span>
			</div>
			<div class="status">
				<div class="status-title"> {{condicao}} </div>
				<div class="status-number"> Umidade {{umidade}}% </div>
			</div>
		</div>
	</div>
</template>

<script>
	module.exports = {
		props: ['city'],
		data: function () {
			return {
				municipio: '',
				temperatura: 0,
				temperaturaMinima: 0,
				temperaturaMaxima: 0,
				umidade: 0,
				condicao: '',
				icone: ''

			}
		},
		methods: {
			callApi() {
				let api = `/api/OpenWeatherMap/${this.city}`;
				this.$http.get(api).then(response => {
					this.temperatura = response.body.main.temp;
					this.temperaturaMinima = response.body.main.temp_min;
					this.temperaturaMaxima = response.body.main.temp_max;
					this.umidade = response.body.main.humidity;
					this.condicao = response.body.weather[0].description;
					let iconeCode = response.body.weather[0].icon;
					this.icone = `http://openweathermap.org/img/wn/${iconeCode}@2x.png`;
					this.municipio = response.body.name;

					$(`#${this.city} .progress-bar`).width(`${this.umidade}%`);

				}, response => {
					this.municipio = 'Município não encontrado.'
				});
			}
		},
		created() {
			this.callApi();
		}
	}
</script>

<style scoped>
</style>